[submodule "mode/lua-mode"]
	path = mode/lua-mode
	url = git@github.com:immerrr/lua-mode.git
[submodule "mode/markdown-mode"]
	path = mode/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "mode/company-mode"]
	path = mode/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "mode/org-mode"]
	path = mode/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "mode/git-emacs"]
	path = mode/git-emacs
	url = git@github.com:tsgates/git-emacs.git
[submodule "mode/helm"]
	path = mode/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "mode/emacs-async"]
	path = mode/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
